*{
    margin: 0;
    padding: 0;
}

.sidebar{
    background-color: red;
    width: 10vw;
}

.sidebar nav{
    padding: 23px;
    height: 100vw;
}

.sidebar li{
    list-style: none;
    font-style: italic;
    font-weight: 900;
    padding-top: 14px;
    padding-bottom: 14px;

}

.main{
    background-color: yellow;
    width: 90vw;
}

.container{
    display: flex;
}

.infoContainer{
    background-color: paleturquoise;
    width: 80vw;
}